#profileSection {
    padding: 20px;
    background-color: #282828;
    border-radius: 8px;
    color: #FFD700;
    text-align: center;
}

#profileSection h2 {
    font-size: 24px;
    font-weight: bold;
}

#profileSection p {
    font-size: 18px;
}
